{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Ketcher is a web-based chemical structure editor"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png"/>
    <link rel="manifest" href="./manifest.json"/>
    <title>Ketcher v2.3.3-297-ga6f91d0d</title>
    <link href="{% static 'css/2.1a1d4f17.chunk.css' %}'" rel="stylesheet">
    <link href="{% static 'css/main.4b33aa94.chunk.css' %}" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/sortable.min.css' %}" />
	<script src="{% static 'js/sortable.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style_website_contact.css' %}" />
    <title>OdorFinder/OdorPred (to change)</title>

	<link rel="stylesheet" href="{% static 'css/style_website.css' %}">
</head>
<body class="home">
    <!-- Fixed navbar -->
    <div class="navbar" >
        <div class="navbar-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'OdorWebSite_Home' %}"><img src="assets/images/logo.png" alt="OdorWebSiteLogo"></a>
            </div>
            <!-- Button for smallest screens -->
            <a href="#" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-items">
                    <li><a href="{% url 'OdorWebSite_Home' %}">Home</a></li> <!-- <li class="active"><a href="#"> -->
                    <li><a href="{% url 'OdorWebSite_About' %}">About</a></li> <!-- <li><a href="{% url 'OdorWebSite_About' %}"> -->
                    <li><a href="{% url 'search_chem_or_odor' %}">Search</a></li>
                    <li class="deroulant"><a href="#">Tools</a>
                        <ul class="sous">
                            <li><a href="{% url 'OdorWebSite_Search' %}">Structure Search</a></li>
                            <li><a href="{% url 'OdorWebSite_Predict' %}">Predict</a></li>
                            <li><a href="{% url 'docking_chem_or' %}">Docking</a></li>
                        </ul>
                    </li>
                    <!--
                    <li><a href="{% url 'OdorWebSite_Search' %}">Structure Search</a></li>
                    <li><a href="{% url 'OdorWebSite_Predict' %}">Predict</a></li>
                    <li><a href="{% url 'docking_chem_or' %}">Docking</a></li>-->
                    <li class="active"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    const toggleButton = document.getElementsByClassName('navbar-toggle')[0];
    const navbarLinks = document.getElementsByClassName('navbar-collapse')[0];
    toggleButton.addEventListener('click', () => {
        console.log("ok");
      navbarLinks.classList.toggle('active');
    });
    </script>
    <!-- /.navbar -->
    <!-- About content -->
    <main>

        <div class="container_head search">
            <!--<h3 class="p_overview">Contact</h3>-->
        </div>
        <div class="container_contact">
            <h4 class="t1">Contact us</h4>
            <p class="t2">Have a question? a comment? a suggestion? whant to report a bug?</p>
            <p class="t3">Feel free to email us</p>
            <p class="t4">email.@email.fr</p>
        </div>

    </main>

        <div class="map-responsive">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.5963304419406!2d2.3757349345788503!3d48.82776301302613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6723a34d98011%3A0xc1757c7f5c28519b!2s35%20Rue%20H%C3%A9l%C3%A8ne%20Brion%2C%2075013%20Paris!5e0!3m2!1sen!2sfr!4v1670256443853!5m2!1sen!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
 

    <!-- ./About content -->
    <!-- Footer -->
    <footer id="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-content Contact">
                    <h3 class="footer-title">Contact</h3>
                    <div class="widget-body">
                        <p>+33XXXXXXX<br>
                        <a href="mailto:#">some.email@somewhere.com</a>
                        <br>
                            Université Paris Cité
                        <br>
                            Bâtiment Lamarck A
                        <br>
                            35 rue Hélène Brion, 75205, Paris Cedex 13
                        </p>
                    </div>
                </div>

                <div class="footer-content Follow">
                    <h3 class="footer-title">Follow</h3>
                    <div class="widget-body">
                        <a href="https://www.inserm.fr/en/home/">
                            <img src="{% static 'media/logos/inserm_logo2.png' %}">
                        </a>
                        <a href="https://u-paris.fr/en/">
                            <img src="{% static 'media/logos/logo_paris.png' %}">
                        </a>
                        <a href="https://systox.u-paris-sciences.fr/">
                            <img src="{% static 'media/logos/logo_systox.png' %}">
                        </a>
                        <a href="https://www2.dijon.inrae.fr/csga/index_eng.php">
                            <img class="csga" src="{% static 'media/logos/logo-csga.png' %}">
                        </a>
                        <a href="http://bfa.univ-paris-diderot.fr/equipe-8/?lang=en">
                            <img src="{% static 'media/logos/bfa-logo.png' %}">
                        </a>
                    </div>
                </div>
                <div class="footer-content Funding">
                    <h3 class="footer-title">Funding</h3>
                    <div class="widget-body">
                        This website was funded by Agence Nationale de la Recherche, ANR-18-CE21-0006-01 MULTIMIX.
                        <a href="https://anr.fr/Projet-ANR-18-CE21-0006">
                            <img src="{% static 'media/logos/ANR-logo-2021-sigle.svg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright © 2022
            </div>
        </div>
    </footer>
    <!-- /Footer -->
</body>
</html>