{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>

    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Ketcher is a web-based chemical structure editor"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/logos/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/logos/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/logos/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/logos/site.webmanifest' %}">
    <title>Ketcher v2.3.3-297-ga6f91d0d</title>
    <link href="{% static 'css/2.1a1d4f17.chunk.css' %}'" type="text/css">
    <link href="{% static 'css/main.4b33aa94.chunk.css' %}" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/sortable.min.css' %}" />
	<script src="{% static 'js/sortable.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style_website_docking.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <title>OdorFinder/OdorPred (to change)</title>

	<link rel="stylesheet" href="{% static 'css/style_website.css' %}">
</head>
<body class="home">
    <!-- Fixed navbar -->
    <div class="navbar" >
        <div class="navbar-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'OdorWebSite_Home' %}"><img src="{% static 'media/logos/rect819.png' %}" alt="Pred-O3 logo"></a>
            </div>
            <!-- Button for smallest screens -->
            <a href="#" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-items">
                    <li><a href="{% url 'OdorWebSite_Home' %}">Home</a></li> <!-- <li class="active"><a href="#"> -->
                    <li><a href="{% url 'OdorWebSite_About' %}">Help</a></li> <!-- <li><a href="{% url 'OdorWebSite_About' %}"> -->
                    <li><a href="{% url 'search_chem_or_odor' %}">Search</a></li>
                    <li class="deroulant"><a href="#">Tools</a>
                        <ul class="sous">
                            <li><a href="{% url 'OdorWebSite_Search' %}">Structure Search</a></li>
                            <li><a href="{% url 'OdorWebSite_Predict' %}">Prediction</a></li>
                            <li class="active"><a href="#">Docking</a></li>
                        </ul>
                    </li>
                    <!--
                    <li><a href="{% url 'OdorWebSite_Search' %}">Structure Search</a></li>
                    <li><a href="{% url 'OdorWebSite_Predict' %}">Predict</a></li>
                    <li><a href="{% url 'docking_chem_or' %}">Docking</a></li>-->
                    <li><a href="{% url 'OdorWebSite_Contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    const toggleButton = document.getElementsByClassName('navbar-toggle')[0];
    const navbarLinks = document.getElementsByClassName('navbar-collapse')[0];
    toggleButton.addEventListener('click', () => {
        console.log("ok");
      navbarLinks.classList.toggle('active');
    });
    </script>
    <!-- /.navbar -->
    <!-- About content -->
    <main>
        <div class="container_head search">
            <h3 class="p_overview">Docking</h3>
            <p>With known chemical and or of the database information we linked the web server to the seamdock website which allows us to perform online docking. To perform docking we retrieved 3D structure of olfactory receptors computed with Alpha Fold for the proteins of the rat mouse and human. In order to standardize docking parameters ORs structures were aligned using TMalign against Olfr17 (uniprot id Q7TRM9) on the Z axis with a reference center set at 0.0.0 with pymol. The grid box size has been set to X: 43 Å, Y: 24 Å, Z: 38 Å  to be sufficiently large and restricted to target the core of all the ORs. Seamdock is an online service that integrates multiple docking tools in a common framework allowing to easily perform ligand protein docking without advanced computer and docking knowledge. The user can choose to use the structure of ORs and chemicals directly from the website or to retrieve a pdb structure imported from the PDB database.
            </p>
            <div class="container_head_img">
                <img src="{% static 'media/img/docking_img.png' %}" alt="search png">
            </div>
        </div>

        <form class="form_load" id="form_load" method="post" action="{% url 'docking_chem_or' %} " target="_blank">
            {% csrf_token %}
            <div id="container_docking">
                <div id="container_title_dock">
                    <div class="container_input">
                        <p>Select chemical</p>
                    </div>
                    <div class="container_input">
                        <p>Select protein</p>
                    </div>
                </div>
                <div id="container_docking_lig">
                    <p>Structure (sdf):</p>
                    <label for="file-input"><img src="{% static 'media/logos/logo_download.png' %}"/></label>
                    <input id="file-input" class="file-load" type="file" name="document"></input>
                    <p>Pubchem name :</p>
                    <input type="text" id="pubchem_name" name="pubchem_name" placeholder="PubChem name"></input>
                    <p>1D structure: </p>
				    <input type="text" id="smile" name="smilefield" placeholder="Smile, InChi, InChiKey"></input>
                    <p>Search molecule in database (start tipping and select molecule from suggestions):</p>
                    <div class="tab-pane active" id="chem-tab-pane" role="tabpanel" aria-labelledby="chem-tab">
                        <input type="text" id="search_chemical" name="search_chemical" placeholder="Search Chemicals by name, cas, smile, PubChem CID"></input>
                    </div>
                    <div class="relative">
                        <div class="autocomplete_container" id="autocomplete_container_lig"></div>
                    </div>
                </div>
                
                <div id="container_docking_prot">
                    <p style="display: none;"> Search protein structure by pdb code:</p>
                    <input style="display: none;" type="text" id="pdb-input" name="pdb_name" placeholder="PDB code"></input>
                    <p> Search olfactory receptor in database (start tipping and select olfactory receptor from suggestions):</p>
                    <div class="tab-pane active" id="chem-tab-pane" role="tabpanel" aria-labelledby="chem-tab">
                        <input type="text" id="search_or" name="search_or" placeholder="Search OR by name, UniProt ID, Species"></input>
                    </div>
                    <div class="relative">
                        <div class="autocomplete_container" id="autocomplete_container_prot"></div>
                    </div>
                </div>
                <div id="conatiner_to_dock">
                    <div class="selection_to_dock_chem" id="selection_to_dock_chem">
                           <p> Odorant molecule of the database:</p>
                    </div>
                    <div class="selection_to_dock_or" id="selection_to_dock_or">
                            <p> Olfactory receptor of the database:</p>
                    </div>
                </div>

            </div>
            <div class="container_docking_launch">
               <button type="submit" id="btn_search" name="btn_search">Launch seamdock</button>
            </div>
        </form>

        <!--<div class="loader" id="loader"></div>-->

		{% if error_message != None %}
		<div class="error_input"><p>{{ error_message }}</p></div>
        {% endif %}
        </div>
            <script>
                      var availableTags = [
                                           {% for chem in chemicals_odors %}
                                               "{{chem.CAS | safe}}", "{{chem.Name | addslashes}}",
                                           {% endfor %}
                                           ];

                      var availableTags_dict_chem = {
                          {% for chem in chemicals_odors %}
                          "{{ chem.idChemicals }}": {CAS: "{{chem.CAS | safe}}",
                                                     Name:"{{chem.Name | addslashes}}"},
                          {% endfor %}
                      };
                      var availableTags_dict_or = {
                          {% for or in olfactory_receptors %}
                          "{{ or.idOlfactoryReceptors }}": {GeneName: "{{or.GeneName}}",
                                                            idUniprot: "{{or.idUniprot}}",
                                                            FileName_3D_Structure: "{{or.FileName_3D_Structure}}",
                                                            Species:"{{or.Species}}"},
                          {% endfor %}
                      };
            </script>
            <script type="text/javascript" src="{% static 'js/code_docking.js' %}"></script>
        </div>
    </main>
    <!-- ./About content -->
    <!-- Footer -->
    <footer id="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-content Contact">
                    <h3 class="footer-title">Contact</h3>
                    <div class="widget-body">
                        <p>
                        For technical questions:<br>
                        <a href="mailto:guillaume.ollitrault@etu.u-paris.fr">guillaume.ollitrault@etu.u-paris.fr</a><br>
                        For research questions:<br>
                        <a href="mailto:olivier.taboureau@u-paris.fr">olivier.taboureau@u-paris.fr</a><br>
                        Université Paris Cité<br>
                        Bâtiment Lamarck A<br>
                        35 rue Hélène Brion, 75205, Paris Cedex 13</p>
                    </div>
                </div>

                <div class="footer-content Follow">
                    <h3 class="footer-title">Follow</h3>
                    <div class="widget-body">
                        <a href="https://www.inserm.fr/en/home/">
                            <img src="{% static 'media/logos/inserm_logo2.png' %}">
                        </a>
                        <a href="https://u-paris.fr/en/">
                            <img src="{% static 'media/logos/logo_paris.png' %}">
                        </a>
                        <a href="https://systox.u-paris-sciences.fr/">
                            <img src="{% static 'media/logos/logo_systox.png' %}">
                        </a>
                        <a href="https://www2.dijon.inrae.fr/csga/index_eng.php">
                            <img class="csga" src="{% static 'media/logos/logo-csga.png' %}">
                        </a>
                        <a href="http://bfa.univ-paris-diderot.fr/equipe-8/?lang=en">
                            <img src="{% static 'media/logos/bfa-logo.png' %}">
                        </a>
                    </div>
                </div>
                <div class="footer-content Funding">
                    <h3 class="footer-title">Funding</h3>
                    <div class="widget-body">
                        This website was funded by Agence Nationale de la Recherche, ANR-18-CE21-0006-01 MULTIMIX.
                        <a href="https://anr.fr/Projet-ANR-18-CE21-0006">
                            <img src="{% static 'media/logos/ANR-logo-2021-sigle.svg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright © 2022 - This website is free and open to all users and there is no login requirement
            </div>
        </div>
    </footer>
    <!-- /Footer -->
</body>
</html>