{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/style_website.css' %}"/>
    <title>OdorFinder/OdorPred (to change)</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/logos/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/logos/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/logos/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/logos/site.webmanifest' %}">
	<link rel="stylesheet" href="{% static 'css/style_website.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_website_home.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body class="home">
    <!-- Fixed navbar -->
	<div class="navbar" >
		<div class="navbar-container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'OdorWebSite_Home' %}"><img src="{% static 'media/logos/rect819.png' %}" alt="Pred-O3 logo"></a>
			</div>
            <!-- Button for smallest screens -->
            <a href="#" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
			<div class="navbar-collapse">
				<ul class="navbar-items">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="{% url 'OdorWebSite_About' %}">Help</a></li>
                    <li><a href="{% url 'search_chem_or_odor' %}">Search</a></li>
                    <li class="deroulant"><a href="#">Tools</a>
                        <ul class="sous">
                            <li><a href="{% url 'OdorWebSite_Search' %}">Structure Search</a></li>
                            <li><a href="{% url 'OdorWebSite_Predict' %}">Prediction</a></li>
                            <li><a href="{% url 'docking_chem_or' %}">Docking</a></li>
                        </ul>
                    </li>
                    <!--
					<li><a href="{% url 'OdorWebSite_Search' %}">Structure Search</a></li>
                    <li><a href="{% url 'OdorWebSite_Predict' %}">Predict</a></li>
                    <li><a href="{% url 'docking_chem_or' %}">Docking</a></li>-->
					<li><a href="{% url 'OdorWebSite_Contact' %}">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
    <script>
    const toggleButton = document.getElementsByClassName('navbar-toggle')[0];
    const navbarLinks = document.getElementsByClassName('navbar-collapse')[0];
    toggleButton.addEventListener('click', () => {
        console.log("ok");
      navbarLinks.classList.toggle('active');
    });
    </script>
    <!-- /.navbar -->
	<!-- Header -->
	<!--<header id="head">
		<div class="container">
			<div class="header-title">
				<h1 class="lead">Website for searching chemical odors and olfactory receptors and predict it</h1>
                <p>Reference</p>
			</div>
		</div>
	</header>
	-->
	<!-- /.Header -->
    <!-- Main -->
        <!--<div class="Search_filter">
            <form method="post" action="{% url 'search_chem_or_odor' %}">
            {% csrf_token %}
                <input type="text" id="search_chemical" name="search_chemical" placeholder="Search chemical by name, cas, smile, PubChem CID"></input>
                <button type="submit" id="btn_search_chem" name="btn_search_chemical">Launch chemical search</button>

                <input type="text" id="search_or" name="search_or" placeholder="Search OR by name, Uniprot ID, Species"></input>
                <button type="submit" id="btn_search_or" name="btn_search_OR">Launch OR search</button>

                <input type="text" id="search_odor" name="search_odor" placeholder="Search odor"></input>
                <button type="submit" id="btn_search_odor" name="btn_search_odor">Launch odor search</button>
            </form>
        </div>-->
        <!--<div class="Search_filter" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)), url('{% static 'media/img/home_background.png' %}');">-->

        <div class="Search_filter" style="background-image: url('static/media/img/home_main.png');">
        <h1> Pred-O3 </h1>
        <h4> Explore Odorant, Olfactory receptors, Odors </h4>
        <div class="container_search">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="chem-tab" data-toggle="tab" href="#chem" role="tab" aria-controls="chem" aria-selected="true">Chemicals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="or-tab" data-toggle="tab" href="#or" role="tab" aria-controls="or" aria-selected="false">Olfactory Receptors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="odor-tab" data-toggle="tab" href="#odor" role="tab" aria-controls="odor" aria-selected="false">Odors</a>
          </li>
        </ul>
        <form method="post" action="{% url 'search_chem_or_odor' %}">
        {% csrf_token %}
            <div class="tab-content">
              <div class="tab-pane active" id="chem-tab-pane" role="tabpanel" aria-labelledby="chem-tab">
                  <input type="text" id="search_chemical" name="search_chemical" onfocus="loadObject_chem(this)" placeholder="Search Chemicals by name, cas, smile, PubChem CID"></input>
                  <button type="submit" id="btn_search_chem" name="btn_search_chemical">Search</button>
              </div>
              <div class="tab-pane" id="or-tab-pane" role="tabpanel" aria-labelledby="or-tab">
                  <input type="text" id="search_or" name="search_or" onfocus="loadObject_or(this)" placeholder="Search OR by name, Uniprot ID, Species"></input>
                  <button type="submit" id="btn_search_or" name="btn_search_OR">Search</button>
              </div>
              <div class="tab-pane" id="odor-tab-pane" role="tabpanel" aria-labelledby="odor-tab">
                  <input type="text" id="search_odor" name="search_odor" onfocus="loadObject_odor(this)" placeholder="Search Odors"></input>
                  <button type="submit" id="btn_search_odor" name="btn_search_odor">Search</button>
              </div>
            </div>
        </form>
            <div class="relative">
                <div class="autocomplete_container" id="autocomplete_container"></div>
            </div>

            <div class="ex_search active" id="ex_search_chem">Examples Chemicals :
                <a class="ex_search_chem_1" href="#query=Acetaldehyde">Acetaldehyde</a>
                <a class="ex_search_chem_2" href="#query=3-Pentanone">3-Pentanone</a>
                <a class="ex_search_chem_3" href="#query=Thiophene">Thiophene</a>
            </div>
            <div class="ex_search" id="ex_search_or">Examples Olfactory Receptors :
                <a class="ex_search_or_1" href="#query=or1D2">OR1D2</a>
                <a class="ex_search_or_2" href="#query=Q499H5">Q499H5</a>
                <a class="ex_search_or_3" href="#query=human">human</a>
            </div>
            <div class="ex_search" id="ex_search_odor">Examples Odors :
                <a class="ex_search_odor_1" href="#query=coffee">coffee</a>
                <a class="ex_search_odor_2" href="#query=sulfurous">sulfurous</a>
                <a class="ex_search_odor_3" href="#query=floral">floral</a>
            </div>

        </div>
        </div>
            <script type="text/javascript" src="{% static 'js/code.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/code_suggestion.js' %}"></script>
        <div class="trail_grey"></div>
        <div class="container_home_infos">
            <div class="home_infos">
                <div class="home_infos_img"><img src="{% static 'media/img/chemical.png' %}" alt="image molecule"></div>
                <p>5802 odorant molecules</p>
            </div>
            <div class="home_infos">
                <div class="home_infos_img"><img src="{% static 'media/img/protein.png' %}" alt="image molecule"></div>
                <p>2280 olfactory receptors</p>
            </div>
            <div class="home_infos">
                <div class="home_infos_img"><img src="{% static 'media/img/odors-removebg-preview.png' %}" alt="image molecule"></div>
                <p>933 odor notes</p>
            </div>
            <a href="https://www.flaticon.com/free-icons/compound" title="compound icons" style="display: none;">Compound icons created by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/protein" title="protein icons" style="display: none;">Protein icons created by Freepik - Flaticon</a>
        </div>
        <div class="trail_grey"></div>
    <main>
        <!-- Intro -->
        <h3 class="p_overview">Overview</h3>
        <div class="container text-center">
            <div class="overview_text">
                <p class="center-intro">
                    Pred-O3 is a web server that compiles information about odorant molecules, their odors and their olfactory receptors (OR). The server integrates several tools to analyse the interactions between odorant, olfactory receptors and their physico-chemical links.

                    We freely give access to a compile database of 5802 chemicals with known odors. The database contains 385 olfactory receptors (from human, mouse and rat species) for which at least one chemical-or interaction is known. There are 36016 known odorant-odors links and 2425 known odorant-or interactions.
                    
                    The website proposes to search for olfactory receptors and/or odor annotated for a chemical (using its name or chemical structure). Also, through several tools, it gives the opportunity to predict olfactory receptors and odors associated for any small molecules using graphical neural network (GNN). Finally, the webserver predicts the ligand-olfactory receptor binding mode for a set of 1529 human OR model.
                    <!--Odor web site allow the user to have easily acces to informations on :
                    - 5980 molecules with 5907 odorant molécules
                    - 296 Olfactory receptors
                    - 7544 smell taggs retrived from public sources
                    - 38504 information de molecules odeur

                    - site permet accès rapide aux information de molecules, recepteur olfactif, odeur et permet de faire
                    le lien entre eux.

                    - site met à disposition plusieurs outils :
                    -- la possibilité de chercher les information d'un composé selon sa structure
                    -- prédire le/les pouvoirs odorants d'une molécule-->
                </p>
            </div>
            <div class="overview_image">
                <img src="{% static 'media/img/home_overview_img.png' %}" alt="Overview SVG">
            </div>
        </div>
        <!-- /.Intro-->
        <div class="trail_grey">
            <div class="trail_grey_h3"><h3>Tools</h3></div>
        </div>
        <!-- Structure Search -->
        <div class="container_tools">
            <div class="container_tool sim">
                <h2>Structural similarity</h2>
                <p>Similar compounds from the database can be searched by 2 methods :
                    The  similarity search based on a Tanimoto score 
                    The substructure search where a substructure pattern of an odorant molecule can be searched.</p>
                <div class="container_btn">
                    <button type="button" class="btn_sim">
                        <a href="{% url 'OdorWebSite_Search' %}">Launch structure search</a><i class="arrow right"></i>
                    </button>
                </div>
            </div>
            <div class="container_tool pred">
                <h2>Prediction</h2>
                <p>Predict the potential odors of a molecule or its potential interacting olfactory receptors. Use two prediction models based on a graphical Graphical Neural Network (GNN) developped by <a href="https://doi.org/DOI: 10.1038/s41598-022-23176-y">Achebouche et al</a>.</p>
                <div class="container_btn">
                    <button type="button" class="btn_sim">
                        <a href="{% url 'OdorWebSite_Predict' %}">Launch prediction</a><i class="arrow right"></i>
                    </button>
                </div>
            </div>
            <div class="container_tool pred">
                <h2>Docking</h2>
                <p>Select a chemical and an olfactory receptor and launch the <a href="https://bioserv.rpbs.univ-paris-diderot.fr/services/SeamDock/">SeamDock webserver</a> [<a href="https://doi.org/10.3389/fmolb.2021.716466">Murail et al</a>] to predict ligand-OR binding mode.</p>
                <div class="container_btn">
                    <button type="button" class="btn_sim">
                        <a href="{% url 'docking_chem_or' %}">Launch docking</a><i class="arrow right"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- /.Structure Search-->

        <!-- References/partenaires -->
        <div class="container text-center-ref">
            <h3 class="thin">References</h3>
            <p class="center-intro">
                <strong>Achebouche R, Tromelin A, Audouze K & Taboureau O. </strong><br>
                <a href="https://doi.org/DOI: 10.1038/s41598-022-23176-y">Application of artificial intelligence to decode the relationships between smell, olfactory receptors and small molecules. Sci Rep 12, 18817 (2022).</a><br>
                https://doi.org/10.1038/s41598-022-23176-y
            </p>
            <p><strong>Murail S, de Vries S, Rey J, Moroy G & Tufféry P. </strong><br>
                <a href="https://doi.org/10.3389/fmolb.2021.716466">SeamDock: An Interactive and Collaborative Online Docking Resource to Assist Small Compound Molecular Docking. Frontiers in Molecular Biosciences (2021).</a><br>
                https://doi.org/10.3389/fmolb.2021.716466</p>
            <p><strong>Tufféry P & Murail S.</strong><br>
                <a href="https://zenodo.org/record/4506970#.Y6AuDafMKCg">Docking_py, a python library for ligand protein docking. Zenodo (2020).</a><br>
                http://doi.org/10.5281/zenodo.4506970.</p>
            <p><i>Reference of our website to be released once the server has a DOI.</i></p>
        </div>
        <!-- /.References/partenaires-->
    </main>
    <!-- /.Main -->
    <!-- Footer -->
    <footer id="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-content Contact">
                    <h3 class="footer-title">Contact</h3>
                    <div class="widget-body">
                        <p>
                        For technical questions:<br>
                        <a href="mailto:guillaume.ollitrault@etu.u-paris.fr">guillaume.ollitrault@etu.u-paris.fr</a><br>
                        For research questions:<br>
                        <a href="mailto:olivier.taboureau@u-paris.fr">olivier.taboureau@u-paris.fr</a><br>
                        Université Paris Cité<br>
                        Bâtiment Lamarck A<br>
                        35 rue Hélène Brion, 75205, Paris Cedex 13</p>
                    </div>
                </div>

                <div class="footer-content Follow">
                    <h3 class="footer-title">Follow</h3>
                    <div class="widget-body">
                        <a href="https://www.inserm.fr/en/home/">
                            <img src="{% static 'media/logos/inserm_logo2.png' %}">
                        </a>
                        <a href="https://u-paris.fr/en/">
                            <img src="{% static 'media/logos/logo_paris.png' %}">
                        </a>
                        <a href="https://systox.u-paris-sciences.fr/">
                            <img src="{% static 'media/logos/logo_systox.png' %}">
                        </a>
                        <a href="https://www2.dijon.inrae.fr/csga/index_eng.php">
                            <img class="csga" src="{% static 'media/logos/logo-csga.png' %}">
                        </a>
                        <a href="http://bfa.univ-paris-diderot.fr/equipe-8/?lang=en">
                            <img src="{% static 'media/logos/bfa-logo.png' %}">
                        </a>
                    </div>
                </div>
                <div class="footer-content Funding">
                    <h3 class="footer-title">Funding</h3>
                    <div class="widget-body">
                        This website was funded by Agence Nationale de la Recherche, ANR-18-CE21-0006-01 MULTIMIX.
                        <a href="https://anr.fr/Projet-ANR-18-CE21-0006">
                            <img src="{% static 'media/logos/ANR-logo-2021-sigle.svg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright © 2022 - This website is free and open to all users and there is no login requirement
            </div>
        </div>
    </footer>
    <!-- /Footer -->
</body>
</html>