{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Ketcher is a web-based chemical structure editor"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/logos/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/logos/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/logos/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/logos/site.webmanifest' %}">
    <title>Ketcher v2.3.3-297-ga6f91d0d</title>

	<link rel="stylesheet" href="{% static 'css/sortable.min.css' %}" />
	<script src="{% static 'js/sortable.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <title>OdorFinder/OdorPred (to change)</title>

	<link rel="stylesheet" href="{% static 'css/style_website.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_website_chemical.css' %}">
    <script src="{% static 'js/cytoscape.min.js' %}"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js"></script> -->

    <script type="module">
    import cytoscape from "{% static 'js/cytoscape.esm.min.js' %}";
    </script>
     <script src="{% static 'js/ngl.js' %}"></script>
    <!-- download table -->
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.table2excel.min.js"></script>
</head>
<body class="home">
    <!-- Fixed navbar -->
    <div class="navbar" >
        <div class="navbar-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'OdorWebSite_Home' %}"><img src="{% static 'media/logos/rect819.png' %}" alt="Pred-O3 logo"></a>
            </div>
            <!-- Button for smallest screens -->
            <a href="#" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-items">
                    <li><a href="{% url 'OdorWebSite_Home' %}">Home</a></li> <!-- <li class="active"><a href="#"> -->
                    <li><a href="{% url 'OdorWebSite_About' %}">Help</a></li> <!-- <li><a href="{% url 'OdorWebSite_About' %}"> -->
                    <li><a href="{% url 'search_chem_or_odor' %}">Search</a></li>
                    <li class="deroulant"><a href="#">Tools</a>
                        <ul class="sous">
                            <li><a href="{% url 'OdorWebSite_Search' %}">Structure Search</a></li>
                            <li><a href="{% url 'OdorWebSite_Predict' %}">Prediction</a></li>
                            <li><a href="{% url 'docking_chem_or' %}">Docking</a></li>
                        </ul>
                    </li>
                    <!--
                    <li><a href="{% url 'OdorWebSite_Search' %}">Structure Search</a></li>
                    <li><a href="{% url 'OdorWebSite_Predict' %}">Predict</a></li>
                    <li><a href="{% url 'docking_chem_or' %}">Docking</a></li>-->
                    <li><a href="{% url 'OdorWebSite_Contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    const toggleButton = document.getElementsByClassName('navbar-toggle')[0];
    const navbarLinks = document.getElementsByClassName('navbar-collapse')[0];
    toggleButton.addEventListener('click', () => {
        console.log("ok");
      navbarLinks.classList.toggle('active');
    });
    </script>
    <!-- Chemical content -->
    <div class="trail_grey">
        <div class="trail_grey_h3"><h3>Chemical : {{ chem.IUPAC_name }}</h3></div>
    </div>
    <main>
    <div>
        <div class="container_head_chem">
            <div class="container_head_chem_img">
                <img src="{% static 'media/db_mols_svg/' %}{{chem.idChemicals}}.svg" style="display:block;">
            </div>
            <div class="container_head_chem_infos">
                <table class="tg-chem">
                    <tbody>
                   <tr>
                        <td class="tg-0pky"><strong>Name</strong></td>
                        <td class="tg-0pky tg-0pky-infos">{{ chem.Name }}</td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>IUPAC Name</strong></td>
                        <td class="tg-0pky tg-0pky-infos">{{ chem.IUPAC_name }}</td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>PubChem CID</strong></td>
                        <td class="tg-0pky tg-0pky-infos">
                            <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{db.Pubchem_CID}}" target="_blank">{{db.Pubchem_CID}}</a>
                        </td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>Cas N°</strong></td>
                        <td class="tg-0pky tg-0pky-infos">{{db.CAS}}</td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>Synonyms</strong></td>
                        <td class="tg-0pky tg-0pky-infos class_synonyms">
                            {% for synonym in chem.Synonyms|get_synonnyms_chem %}
                            <p class="style_synonym">{{ synonym|safe }}</p>
                            {% endfor %}
                        </td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>Molecular Formula</strong></td>
                        <td class="tg-0pky tg-0pky-infos">{{ chem.Molecular_Formula }}</td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>Molecular Weight</strong></td>
                        <td class="tg-0pky tg-0pky-infos">{{ chem.Molecular_Weight }}</td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>SMILES</strong></td>
                        <td class="tg-0pky tg-0pky-infos">{{db.SMILE}}</td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>InChi</strong></td>
                        <td class="tg-0pky tg-0pky-infos">{{ chem.InChi }}</td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>InChi Key</strong></td>
                        <td class="tg-0pky tg-0pky-infos">{{ chem.InChi_Key }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container_part">
            <div class="part_number">
                <h3>1.</h3>
            </div>
            <div class="part_title">
                <h3>3D Structure</h3>
            </div>
            <div class="part_infos_img">
                <a href="{% static 'media/db_mols_3d/' %}{{chem.idChemicals}}.pdb" download="structure3D_chemical_{{ chem.IUPAC_name }}.sdf">
                    <img id="part_infos_down_1" class="part_infos_down" src="{% static 'media/img/Download.svg' %}">
                </a>
                <img id="part_infos_img_1" src="{% static 'media/img/Information.png' %}">
            </div>
            <div class="trail_grey"></div>
        </div>
        <div class="part_help" id="part_help_1">The 3D structure of the molecule computed using RDKIt with the ETDKG (v3) force field</div>
        {% if chem.Mixture != 1 %}
        <div id="container_visualisation_mol">
            <div id="viewport" style="width:100%; height:100%;"></div>
        </div>
        {% else %}
            <div class="error_no_data"><p>No 3D structure generated for mixtures</p></div>
        {% endif %}
        <div class="container_part">
            <div class="part_number">
                <h3>2.</h3>
            </div>
            <div class="part_title">
                <h3>Odors</h3>
            </div>
            <div class="part_infos_img">
                <img id="part_infos_down_2" src="{% static 'media/img/Download.svg' %}">
                <img id="part_infos_img_2" src="{% static 'media/img/Information.png' %}">
            </div>
            <div class="trail_grey"></div>
        </div>
        <div class="part_help" id="part_help_2">List of odor notes of the molecule if any</div>
        
        {% for key, value in dic_chem_odor.items %}
            {% if value == None %}
                <div class="error_no_data"><p>No data available</p></div>
                <style type="text/css">
                    #myTable2 {
                        display: none;
                    }
                </style>
            {% else %}
                <a class="style_odor" href="{% url 'OdorWebSite_Odor' odor_id=key %}" target="_blank">{{value}}</a>
            {% endif %}
        {% endfor %}


        <div class="container_tab_odor">
            <table id="myTable2" class="table_db_odor"> <!-- class="table_db_odor" -->
                <thead>
                  <tr class="header">
                        <!--<th>idSmell_Percepts</th>-->
                        <th>Odor</th>
                        <th>Sources</th>
                        <th>Initial odor label</th>
                  </tr>
                </thead>
                <tbody>
                {% for key, odor_infos in dic_chem_odor_dic.items %}
                    <tr>
                        <!--<td class="col2">{{odor_infos.idSmell_Percepts}}</td>-->
                        <td class="col2"><a href="{% url 'OdorWebSite_Odor' odor_id=odor_infos.idSmell_Percepts %}" target="_blank">{{odor_infos.Odor}}</a></td>
                        <td class="col2">{{odor_infos.Sources}}</td>
                        <td class="col2">{{odor_infos.odor_tag}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        <script type="text/javascript">
            var chemical = "{{ chem.IUPAC_name|safe }}";
        $(function() {
            $("#part_infos_down_2").click(function(e){
              var table = $("#myTable2");
              if(table && table.length){
            $(table).table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: "chemical_"+chemical+"_odors_"+new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: false
            });
          }
        });
        
      });
        </script>
        </div>

        <div class="container_part">
            <div class="part_number">
                <h3>3.</h3>
            </div>
            <div class="part_title">
                <h3>Olfactory receptors interaction</h3>
            </div>
            <div class="part_infos_img">
                <img id="part_infos_down_3" src="{% static 'media/img/Download.svg' %}">
                <img id="part_infos_img_3" src="{% static 'media/img/Information.png' %}">
            </div>
            <div class="trail_grey"></div>
        </div>
        <div class="part_help" id="part_help_3">List of interacting olfactory receptors if any</div>
        <!--for or in db.OlfRecept|str_split_or -->
        {% if dic_chem_or_dic != None %}
            {% for key, or_infos in dic_chem_or_dic.items %}
                <a class="style_or" href="{% url 'OdorWebSite_OR' idOlfactoryReceptors=or_infos.idOlfactoryReceptors %}" target="_blank">{{or_infos.GeneName}}</a>
            {% endfor %}
        {% else %}
            <div class="error_no_data"><p>No data available</p></div>
            <style type="text/css">
                #myTable3 {
                    display: none;
                }
            </style>
        {% endif %}

        <div class="container_tab_odor">
            <table id="myTable3" class="table_db_odor"> <!-- class="table_db_odor" -->
                <thead>
                  <tr class="header">
                        <th>Name</th>
                        <th>Uniprot id</th>
                        <th>Synonyms</th>
                        <th>Species</th>
                        <th>Sources</th>
                  </tr>
                </thead>
                <tbody>
                {% for key, or_infos in dic_chem_or_dic.items %}
                    <tr>
                        <td class="col2"><a href="{% url 'OdorWebSite_OR' idOlfactoryReceptors=or_infos.idOlfactoryReceptors %}" target="_blank">{{or_infos.GeneName}}</a></td>
                        <td class="col2">{{or_infos.idUniprot}}</td>
                        <td class="col2" class="class_synonyms">
                            {% for synonym in or_infos.Synonym|get_synonnyms %}
                            <p class="style_synonym">{{ synonym|safe }}</p>
                            {% endfor %}
                        </td>
                        </td>
                        <td class="col2">{{or_infos.Species}}</td>
                        <td class="col2">
                            <p>
                            {{or_infos.Sources|get_or_sources|safe}}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        <script type="text/javascript">
            var chemical = "{{ chem.IUPAC_name|safe }}";
                    $(function() {
            $("#part_infos_down_3").click(function(e){
              var table = $("#myTable3");
              if(table && table.length){
            $(table).table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: "chemicals_" +chemical+ "_or_" +new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: false
            });
          }
        });
        
      });
        </script>
        </div>


        <div class="container_part">
            <div class="part_number">
                <h3>4.</h3>
            </div>
            <div class="part_title">
                <h3>Chemical space</h3>
            </div>
            <div class="part_infos_img">
                <img id="part_infos_img_4" src="{% static 'media/img/Information.png' %}">
            </div>
            <div class="trail_grey"></div>
        </div>
        <div class="part_help" id="part_help_4">The chemical space with the molecule colored. The similarity between sub groups of molecules sharing the same odors or interacting with the same olfactory receptor is visualized trough an umap representation in a 2d map projection.
             The molecules were characterized using the morgan fingerprint. When a point is hovered more information on the molecule and its odors and its olfactory receptors are displayed and you can click on the dot to be redirected to the corresponding compound.
             More information on how to interact with the graphic can be found on the <a href="https://docs.bokeh.org/en/latest/docs/user_guide/interaction/tools.html">bokeh website</a>.</div>        <div class="container_umap">
            {{div| safe}}
           <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
           <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
           <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
           <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
           {{script| safe}}
           <style>
            .bk-root {  align-content: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;}
            </style>  
        </div>

        <div class="container_part">
            <div class="part_number">
                <h3>5.</h3>
            </div>
            <div class="part_title">
                <h3>Phylogenic tree</h3>
            </div>
            <div class="part_infos_img">
                <a href="{% static 'media/phylogenic_tree_chem/' %}{{chem.idChemicals}}.svg" download="phylogenic_tree_{{ chem.IUPAC_name }}.svg">
                    <img id="part_infos_down_5" class="part_infos_down" src="{% static 'media/img/Download.svg' %}">
                </a>
                <img id="part_infos_img_5" src="{% static 'media/img/Information.png' %}">
            </div>
            <div class="trail_grey"></div>
        </div>
        <div class="part_help" id="part_help_5">The pylogenetic tree of the interacting olfactory receptors highlighted if any. Mouse phylogenic tree was computed using the sequence of mouse olfactory receptors from HORDE website. The phylogenic tree was computed on the "phyloegen.fr" website using the PhyML algorithm. Olfactory receptors were colored according their familly described by Glusman et al. The olfactory receptor of interest in the server are displayed bigger. We searched fro homologue olfactory receptors between human and mouse species for the human phylogenic tree of the mouse phylogenic tree if an interaction is known for a species and note the other we still plot the olfactory receptor homologous</div>
        <!--<div><h1>Chemical-olfactory receptors and chemical-odor interactions visualization</h1></div>-->
        <div id="cy" style="display: none;"></div>
        <script>
            var db  = {{ db|safe }};
            var dic_chem_odor  = {{ dic_chem_odor|safe }};
            var path_3d_structure = "{% static 'media/db_mols_3d/' %}{{chem.idChemicals}}.pdb"
        </script>
        <script src="{% static 'js/code_chemical.js' %}"></script>

        <div class="container_btn_phytree">
            <button id="myBtn_phytree1" class="myBtn_phytree" onclick="myFunction_phytree_human()">Human phylogenic tree</button> 
            <button id="myBtn_phytree2" class="myBtn_phytree active" onclick="myFunction_phytree_mouse()">Mouse phylogenic tree</button>        
        </div>

        {% if dic_chem_or_dic == None %}
            <div class="error_no_data"><p>No data available</p></div>
            <style type="text/css">
                #myTable3 {
                    display: none;
                }
            </style>
        {% else %}
        <img id="phy_tree_mouse" src="{% static 'media/phylogenic_tree_chem/' %}{{ chem.idChemicals }}.svg" onerror="imgError(this);" style="display:block;" width="100%" height="100%">
        <img id="phy_tree_human" src="{% static 'media/phylogenic_tree_human_chem/' %}{{ chem.idChemicals }}.svg" onerror="imgError(this);" style="display:none;" width="100%" height="100%">
        {% endif %}
        </div>
        <script type="text/javascript">
            function imgError(image) {
                image.onerror = "";
                image.src = "{% static 'media/img/no_data_img.png' %}";
                return true;
            }
        </script>

        <!--
        <div><h1>Docking</h1></div>
        <h2>Select olfactory receptor for docking:</h2>
        -->
        <form method="post" action="{% url 'docking_chem_or' %} " target="_blank" style="display: none;">
        {% csrf_token %}
            <div class="tab-content">
              <div class="tab-pane active" id="chem-tab-pane" role="tabpanel" aria-labelledby="chem-tab">
                  <input type="text" id="search_chemical" name="search_chemical" style="display:none"  value="{{ chem.idChemicals }}"></input>
                  <input type="text" id="search_or" name="search_or" placeholder="Search OR by name, Uniprot ID, Species"></input>
                  <input type="text" id="search_odor" name="search_odor" style="display:none" placeholder="Search Odors"></input>
                  <script>
                      var availableTags = [
                                           {% for chem in chemicals_odors %}
                                               "{{chem.CAS | safe}}", "{{chem.Name | addslashes}}",
                                           {% endfor %}
                                           ];

                      var availableTags_dict_or = {
                          {% for or in olfactory_receptors %}
                          "{{ or.idOlfactoryReceptors }}": {GeneName: "{{or.GeneName}}",
                                                            idUniprot: "{{or.idUniprot}}",
                                                            FileName_3D_Structure: "{{or.FileName_3D_Structure}}",
                                                            Species:"{{or.Species}}"},
                          {% endfor %}
                      };

                  </script>
              </div>
                <div class="relative">
                    <div class="autocomplete_container" id="autocomplete_container_prot"></div>
                </div>
                <div class="selection_to_dock_or" id="selection_to_dock_or"></div>
                <script type="text/javascript" src="{% static 'js/code_docking.js' %}"></script>
                <button type="submit" id="btn_search_or" name="btn_search_or">Launch seamdock</button>
            </div>
        </form>
     </div>
    <!-- ./Chemical content -->
    </main>
    <!-- Footer -->
    <footer id="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-content Contact">
                    <h3 class="footer-title">Contact</h3>
                    <div class="widget-body">
                        <p>
                        For technical questions:<br>
                        <a href="mailto:guillaume.ollitrault@etu.u-paris.fr">guillaume.ollitrault@etu.u-paris.fr</a><br>
                        For research questions:<br>
                        <a href="mailto:olivier.taboureau@u-paris.fr">olivier.taboureau@u-paris.fr</a><br>
                        Université Paris Cité<br>
                        Bâtiment Lamarck A<br>
                        35 rue Hélène Brion, 75205, Paris Cedex 13</p>
                    </div>
                </div>

                <div class="footer-content Follow">
                    <h3 class="footer-title">Follow</h3>
                    <div class="widget-body">
                        <a href="https://www.inserm.fr/en/home/">
                            <img src="{% static 'media/logos/inserm_logo2.png' %}">
                        </a>
                        <a href="https://u-paris.fr/en/">
                            <img src="{% static 'media/logos/logo_paris.png' %}">
                        </a>
                        <a href="https://systox.u-paris-sciences.fr/">
                            <img src="{% static 'media/logos/logo_systox.png' %}">
                        </a>
                        <a href="https://www2.dijon.inrae.fr/csga/index_eng.php">
                            <img class="csga" src="{% static 'media/logos/logo-csga.png' %}">
                        </a>
                        <a href="http://bfa.univ-paris-diderot.fr/equipe-8/?lang=en">
                            <img src="{% static 'media/logos/bfa-logo.png' %}">
                        </a>
                    </div>
                </div>
                <div class="footer-content Funding">
                    <h3 class="footer-title">Funding</h3>
                    <div class="widget-body">
                        This website was funded by Agence Nationale de la Recherche, ANR-18-CE21-0006-01 MULTIMIX.
                        <a href="https://anr.fr/Projet-ANR-18-CE21-0006">
                            <img src="{% static 'media/logos/ANR-logo-2021-sigle.svg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright © 2022 - This website is free and open to all users and there is no login requirement
            </div>
        </div>
    </footer>
    <!-- /Footer -->
</body>
</html>