{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Ketcher is a web-based chemical structure editor"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/logos/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/logos/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/logos/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/logos/site.webmanifest' %}">
    <link rel="manifest" href="./manifest.json"/>
    <title>Ketcher v2.3.3-297-ga6f91d0d</title>
    <link href="{% static 'css/2.1a1d4f17.chunk.css' %}'" rel="stylesheet">
    <link href="{% static 'css/main.4b33aa94.chunk.css' %}" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/sortable.min.css' %}" />
	<script src="{% static 'js/sortable.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_website_or.css' %}">


	<script src="{% static 'js/jquery.min.js' %}"></script>
    <title>OdorFinder/OdorPred (to change)</title>

	<link rel="stylesheet" href="{% static 'css/style_website.css' %}">

    <script src="{% static 'js/ngl.js' %}"></script>
    <!-- BOKEH -->
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel=”stylesheet” type=”text/css”>
    <!-- download table -->
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.table2excel.min.js"></script>
</head>
<body class="home">
    <!-- Fixed navbar -->
    <div class="navbar" >
        <div class="navbar-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'OdorWebSite_Home' %}"><img src="{% static 'media/logos/rect819.png' %}" alt="Pred-O3 logo"></a>
            </div>
            <!-- Button for smallest screens -->
            <a href="#" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-items">
                    <li><a href="{% url 'OdorWebSite_Home' %}">Home</a></li> <!-- <li class="active"><a href="#"> -->
                    <li><a href="{% url 'OdorWebSite_About' %}">Help</a></li> <!-- <li><a href="{% url 'OdorWebSite_About' %}"> -->
                    <li><a href="{% url 'search_chem_or_odor' %}">Search</a></li>
                    <li class="deroulant"><a href="#">Tools</a>
                        <ul class="sous">
                            <li><a href="{% url 'OdorWebSite_Search' %}">Structure Search</a></li>
                            <li><a href="{% url 'OdorWebSite_Predict' %}">Prediction</a></li>
                            <li><a href="{% url 'docking_chem_or' %}">Docking</a></li>
                        </ul>
                    </li>
                    <!--
                    <li><a href="{% url 'OdorWebSite_Search' %}">Structure Search</a></li>
                    <li><a href="{% url 'OdorWebSite_Predict' %}">Predict</a></li>
                    <li><a href="{% url 'docking_chem_or' %}">Docking</a></li>-->
                    <li><a href="{% url 'OdorWebSite_Contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    const toggleButton = document.getElementsByClassName('navbar-toggle')[0];
    const navbarLinks = document.getElementsByClassName('navbar-collapse')[0];
    toggleButton.addEventListener('click', () => {
        console.log("ok");
      navbarLinks.classList.toggle('active');
    });
    </script>
    <!-- /.navbar -->
    <!-- OR content -->
    <div class="trail_grey">
        <div class="trail_grey_h3"><h3>Olfactory receptor : {{ GeneName.GeneName }}</h3></div>
    </div>
    <main>
        <div class="container_head_prot">
            <div class="container_head_prot_img">
                <div id="container_visualisation_OR">
                    <div id="viewport" style="width:100%; height:100%;"></div>
                </div>
            </div>
            <div class="container_head_prot_infos">
                <table class="tg-chem">
                    <tbody>
                      <tr>
                        <td class="tg-0pky"><strong>Symbol</strong></td>
                        <td class="tg-0pky tg-0pky-infos">{{ GeneName.GeneName }}</td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>Uniprot ID</strong></td>
                        <td class="tg-0pky tg-0pky-infos">
                            <a href="https://www.uniprot.org/uniprotkb/{{GeneName.idUniprot}}/entry" target="_blank">{{GeneName.idUniprot}}</a>
                        </td>
                      </tr>
                        <td class="tg-0pky"><strong>Synonyms</strong></td>
                       <td class="tg-0pky tg-0pky-infos class_synonyms">
                            {% for synonym in GeneName.Synonym|get_synonnyms %}
                            <p class="style_synonym">{{ synonym|safe }}</p>
                            {% endfor %}
                        </td>
                      </tr>
                      <tr>
                        <td class="tg-0pky"><strong>Species</strong></td>
                        <td class="tg-0pky tg-0pky-infos">{{ GeneName.Species }}</td>
                      </tr>
                      {% if or_homologue != None %}
                      <tr>
                        <td class="tg-0pky"><strong>Human Ortholog</strong></td>
                        <td class="tg-0pky tg-0pky-infos">
                            <a href="{% url 'OdorWebSite_OR' idOlfactoryReceptors=or_homologue.id_OR_human %}">{{ or_homologue.GeneName }}</a>
                        </td>
                      </tr>
                      {% endif %}
                      <!--
                      <tr>
                        <td class="tg-0pky"><strong>Sequence</strong></td>
                        <td class="tg-0pky tg-0pky-infos">
                            <div style="overflow-x:auto; width:100%">{{ GeneName.Sequence }}</div>
                        </td>
                      </tr>-->
                    </tbody>
                </table>
            </div>
        </div>


    <div class="container_part">
        <div class="part_number">
            <h3>1.</h3>
        </div>
        <div class="part_title">
            <h3>3D Structure</h3>
        </div>
        <div class="part_infos_img">
            <a href="{% static 'media/db_prots/' %}{{GeneName.idUniprot}}.pdb" download="structure3D_alphafold_v4_dec_2022_protein_{{ GeneName.GeneName }}_uniprot_id_{{GeneName.idUniprot}}.pdb">
                <img id="part_infos_down_1" class="part_infos_down" src="{% static 'media/img/Download.svg' %}">
            </a>
            <img id="part_infos_img_1" src="{% static 'media/img/Information.png' %}">
        </div>
        <div class="trail_grey"></div>
    </div>
    <div class="part_help" id="part_help_1">The 3D structure of the molecule computed and retrieved from AlphaFold (dec 2022 v4).</div>
    <div id="container_visualisation_OR">
        <div id="viewport2" style="width:100%; height:100%;"></div>
    </div>


    <div class="container_part">
        <div class="part_number">
            <h3>2.</h3>
        </div>
        <div class="part_title">
            <h3>Chemicals interaction</h3>
        </div>
        <div class="part_infos_img">
            <img id="part_infos_down_2" src="{% static 'media/img/Download.svg' %}">
            <img id="part_infos_img_2" src="{% static 'media/img/Information.png' %}">
        </div>
        <div class="trail_grey"></div>
    </div>
    <div class="part_help" id="part_help_2">List of chemicals known to interact with the olfactory receptor</div>
    <div class="container_tab_odor">
        <table id="myTable2" class="table_db_odor"> <!-- class="table_db_odor" -->
            <thead>
              <tr class="header">
                    <th>Image</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>CAS</th>
                    <th>PubChem CID</th>
                    <th>SMILE</th>
              </tr>
            </thead>
            <tbody>
            {% for key, db_infos in dic_or_chem.items %}
                <tr>
                    <td class="col2"><img src="{% static 'media/db_mols_svg/' %}{{db_infos.idChemicals}}.svg" style="display:block;" width="50%" height="50%"></td>
                    <td class="col2">
                        <a href="{% url 'OdorWebSite_Chemical' chem_id=db_infos.idChemicals %}" target="_blank">
                            {{db_infos.idChemicals}}
                        </a>
                    </td>
                    <td class="col2">{{db_infos.Name}}</td>
                    <td class="col2">{{db_infos.CAS}}</td>
                    <td class="col2"><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{db_infos.Pubchem_CID}}" target="_blank">{{db_infos.Pubchem_CID}}</a></td>
                    <td class="col2">{{db_infos.SMILE}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
            var or = "{{ GeneName.GeneName|safe }}";
        $(function() {
            $("#part_infos_down_2").click(function(e){
              var table = $("#myTable2");
              if(table && table.length){
            $(table).table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: "olfactory_receptor_"+or+"_chemicals_interaction_"+new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: false
            });
          }
        });
        
      });
        </script>
    </div>


    <div class="container_part">
        <div class="part_number">
            <h3>3.</h3>
        </div>
        <div class="part_title">
            <h3>Overrepresented/Underrepresented functional groups</h3>
        </div>
        <div class="part_infos_img">
            <img id="part_infos_img_3" src="{% static 'media/img/Information.png' %}">
        </div>
        <div class="trail_grey"></div>
    </div>
    <div class="part_help" id="part_help_3">Radar plot of the overrepresented/underrepresented functional groups among the chemicals interacting with the olfactory receptor.</div>
    {% block content %}
        {% autoescape off %}
        {{ div_radar_plot }}
        {% endautoescape %}
    {% endblock content%}

    <div class="container_part">
        <div class="part_number">
            <h3>4.</h3>
        </div>
        <div class="part_title">
            <h3>Chemical space</h3>
        </div>
        <div class="part_infos_img">
            <img id="part_infos_img_4" src="{% static 'media/img/Information.png' %}">
        </div>
        <div class="trail_grey"></div>
    </div>
    <div class="part_help" id="part_help_4">The chemical space with the molecules interacting with the olfactory receptor colored.  
        The similarity between sub groups of molecules sharing the same odors or interacting with the same olfactory receptor can be visualized trough an umap representation in a 2d map projection. 
        The molecules were characterized using the morgan fingerprint. when a point is hovered more information on the molecule and its odors and its olfactory receptors are displayed and the user can click on the dot to be redirected to the corresponding compound.
        More information on how to interact with the graphic can be found on the <a href="https://docs.bokeh.org/en/latest/docs/user_guide/interaction/tools.html">bokeh website</a>.</div>
    <div class="container_umap">
        {{div| safe}}
       <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
       <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
       <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
       <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
       {{script| safe}}
       <style>
        .bk-root {  align-content: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;}
        </style>  
    </div>


    <div class="container_part">
        <div class="part_number">
            <h3>5.</h3>
        </div>
        <div class="part_title">
            <h3>Phylogenic tree</h3>
        </div>
        <div class="part_infos_img">
            <a href="{% static 'media/phylogenic_tree_OR/' %}{{ GeneName.idOlfactoryReceptors }}.svg" download="phylogenic_tree_{{ GeneName.idOlfactoryReceptors }}.svg">
                <img id="part_infos_down_5" class="part_infos_down" src="{% static 'media/img/Download.svg' %}">
            </a>
            <img id="part_infos_img_5" src="{% static 'media/img/Information.png' %}">
        </div>
        <div class="trail_grey"></div>
    </div>
    <div class="part_help" id="part_help_5">The pylogenetic tree with the olfactory receptor highlighted. The Mouse and human phylogenic tree were computed using the sequence of mouse olfactory receptors from HORDE website. The phylogenic tree was computed on the "phyloegen.fr" website using the PhyML algorithm. Olfactory receptors were colored according their family described by Glusman et al. The olfactory receptor of interest in the server are displayed bigger.</div>
    <div>
    <div class="container_btn_phytree">
        <button id="myBtn_phytree1" class="myBtn_phytree" onclick="myFunction_phytree_human()">Human phylogenic tree</button> 
        <button id="myBtn_phytree2" class="myBtn_phytree active" onclick="myFunction_phytree_mouse()">Mouse phylogenic tree</button>        
    </div>
    <img id="phy_tree_mouse" src="{% static 'media/phylogenic_tree_OR/' %}{{ GeneName.idOlfactoryReceptors }}.svg" onerror="imgError(this);" style="display:block;" width="100%" height="100%">
    <img id="phy_tree_human" src="{% static 'media/phylogenic_tree_human_OR/' %}{{ GeneName.idOlfactoryReceptors }}.svg" onerror="imgError(this);" style="display:none;" width="100%" height="100%">
    </div>
    <script type="text/javascript">
        function imgError(image) {
            image.onerror = "";
            image.src = "{% static 'media/img/no_data_img.png' %}";
            return true;
        }
    </script>
    <!--
    <h2>Select compound for docking:</h2>
    -->
        <form method="post" action="{% url 'docking_chem_or' %} " target="_blank" style="display: none;">
        {% csrf_token %}
            <div class="tab-content">
              <div class="tab-pane active" id="chem-tab-pane" role="tabpanel" aria-labelledby="chem-tab">
                  <input type="text" id="search_chemical" name="search_chemical" placeholder="Search Chemicals by name, cas, smile, PubChem CID"></input>
                  <input type="text" id="search_or" name="search_or" style="display:none" value="{{ GeneName.FileName_3D_Structure }}"></input>
                  <button type="submit" id="btn_search_chem" name="btn_search_chemical">Launch seamdock</button>
                  <script>
                      var availableTags = [
                                           {% for chem in chemicals_odors %}
                                               "{{chem.CAS | safe}}", "{{chem.Name | addslashes}}",
                                           {% endfor %}
                                           ];

                      var availableTags_dict_chem = {
                          {% for chem in chemicals_odors %}
                          "{{ chem.idChemicals }}": {CAS: "{{chem.CAS | safe}}",
                                                     Name:"{{chem.Name | addslashes}}"},
                          {% endfor %}
                      };
                  </script>
              </div>
            </div>
        </form>
            <div class="relative">
                <div class="autocomplete_container" id="autocomplete_container"></div>
            </div>
            <div class="selection_to_dock_chem" id="selection_to_dock_chem">
                  <!--<p> Molecule to dock to the OR:</p>-->
            </div>
    </div>
            <script type="text/javascript" src="{% static 'js/code_docking.js' %}"></script>
    </main>
    <script>
        var GeneName_or_pdb  = "{{ GeneName.FileName_3D_Structure }}";
        var path_pdb_or = "{% static 'media/db_prots/' %}{{ GeneName.FileName_3D_Structure }}";
        console.log(path_pdb_or);
    </script>
    <script src="{% static 'js/code_or.js' %}"></script>
    <!-- ./About content -->
    <!-- Footer -->
    <footer id="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-content Contact">
                    <h3 class="footer-title">Contact</h3>
                    <div class="widget-body">
                        <p>
                        For technical questions:<br>
                        <a href="mailto:guillaume.ollitrault@etu.u-paris.fr">guillaume.ollitrault@etu.u-paris.fr</a><br>
                        For research questions:<br>
                        <a href="mailto:olivier.taboureau@u-paris.fr">olivier.taboureau@u-paris.fr</a><br>
                        Université Paris Cité<br>
                        Bâtiment Lamarck A<br>
                        35 rue Hélène Brion, 75205, Paris Cedex 13</p>
                    </div>
                </div>

                <div class="footer-content Follow">
                    <h3 class="footer-title">Follow</h3>
                    <div class="widget-body">
                        <a href="https://www.inserm.fr/en/home/">
                            <img src="{% static 'media/logos/inserm_logo2.png' %}">
                        </a>
                        <a href="https://u-paris.fr/en/">
                            <img src="{% static 'media/logos/logo_paris.png' %}">
                        </a>
                        <a href="https://systox.u-paris-sciences.fr/">
                            <img src="{% static 'media/logos/logo_systox.png' %}">
                        </a>
                        <a href="https://www2.dijon.inrae.fr/csga/index_eng.php">
                            <img class="csga" src="{% static 'media/logos/logo-csga.png' %}">
                        </a>
                        <a href="http://bfa.univ-paris-diderot.fr/equipe-8/?lang=en">
                            <img src="{% static 'media/logos/bfa-logo.png' %}">
                        </a>
                    </div>
                </div>
                <div class="footer-content Funding">
                    <h3 class="footer-title">Funding</h3>
                    <div class="widget-body">
                        This website was funded by Agence Nationale de la Recherche, ANR-18-CE21-0006-01 MULTIMIX.
                        <a href="https://anr.fr/Projet-ANR-18-CE21-0006">
                            <img src="{% static 'media/logos/ANR-logo-2021-sigle.svg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright © 2022 - This website is free and open to all users and there is no login requirement
            </div>
        </div>
    </footer>
    <!-- /Footer -->
</body>
</html>